[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "ShowMarks"]
	path = ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "SearchComplete"]
	path = SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "PDV-revised"]
	path = PDV-revised
	url = https://github.com/vim-scripts/PDV-revised.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
